.recipe-image {
	margin-left: 25px;
}

textarea.direction_field {
    height: 125px;
    width: 500px;
    padding-top:0;
}

input.description_field, input.name_field {
    width: 500px;
}

.submit-recipe {
    margin-top: 20px;
}

.footer {
    margin-top: 50px;
    font-size: 12px;
}

