.recipe-image {
	margin-left: 25px;
}

input.description_field, input.direction_field {
    height: 125px;
    line-height: 125px;
    width: 500px;
    padding-top:0;
}

input.name_field {
    width: 500px;
}

.submit-recipe {
    margin-top: 20px;
}

