{% extends "base.html" %}

{% block additional_css %}
	{% load staticfiles %}
    <link href="{% static 'css/lunchclub.css' %}" rel="stylesheet">
{% endblock additional_css %}

{% block top_nav %}
{% endblock %}

{% block left_nav %}
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li><a href="{% url 'recipe_home' %}">Recipes</a></li>
            <li><a href="{% url 'recipe_ingredient_list' %}">Ingredients</a></li>
            <li><a href="#">Clubbers</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
{% endblock %}

{% block right_nav %}
{% endblock %}
