{% extends "recipe/base.html" %}

{% block page_title %}{{ recipe.title }} | {% endblock page_title %}

{% block page_content %}
    <div class="well">
        <a href="{{ recipe.get_absolute_url }}">{{ recipe.title }}</a>
        <br>
        {% if recipe.image %}
            <img src="{{ recipe.image.url }}">
        {% else %}
            No Image. Add your own!
        {% endif %}
        <ul>
            <li><img src="{{ recipe.image.url }}"></li>
            <li>by {{ recipe.author }}</li>
            <li>on {{ recipe.created }}</li>
            <li>Description: {{ recipe.description }}</li>
            <li>Ingredients:
            {% for ingredient in recipe.recipeingredient_set.all %}
                {{ ingredient }}<br>
            {% endfor %}</li>
            <li>Directions: {{ recipe.directions }}</li>
        </ul>
    </div>
{% endblock page_content %}
