{% extends "recipe/base.html" %}

{% block page_title %}{{ recipe.title|title }} | {% endblock page_title %}


{% load thumbnail %}
{% load ratings %}

{% block script %}
{% endblock script %}

{% block page_content %}
    <div class="well">
        <div class="row-fluid">
            <div class="span5">
                {% if recipe.image %}
                    <a href="{{ recipe.image.url }}">
                        <img src="{{ recipe.image|thumbnail_url:'recipe_detail' }}">
                    </a>
                {% else %}
                    No Image. Add your own!
                {% endif %}
            </div>

            <div class="span6 offset1">
                <h2><a href="{{ recipe.get_absolute_url }}">{{ recipe.title|title }}</a></h2>
                <p>by {{ recipe.author }} on {{ recipe.created }}</p>
                <p>{{ recipe.description|linebreaks }}</p>
            </div>

        </div>

        <hr />

        <h3>Ingredients</h3>
        <ul>
            {% for ingredient in recipe.recipeingredient_set.all %}
                <li>{{ ingredient|title }}</li>
            {% endfor %}
        </ul>

        <h3>Directions</h3>
        <p>{{ recipe.directions|linebreaks }}</p>
        </ul>
    </div>
{% endblock page_content %}
