{% extends "recipe/base.html" %}

{% block page_title %}Lunch Club Recipes | {% endblock page_title %}

{% block head %}
    {% load thumbnail %}
    {% load ratings %}
    {% load staticfiles %}
{% endblock head %}

{% block script %}
    <script type="text/javascript" src="{% static 'star-rating/jquery.rating.js' %}"></script>
{% endblock script %}

{% block page_content %}
    <h1>Lunch Club Recipes</h1>
    {% for recipe in recipes %}
        <div class="well">
            <div class="row">
                <div class="span4">
                {% if recipe.image %}
                    <a href="{{ recipe.get_absolute_url }}">
                        <img src="{{ recipe.image|thumbnail_url:'recipe_detail' }}">
                    </a>
                {% endif %}
                </div>

                <div class="span6 offset1">
                    <ul class="recipe-summary">
                        <li><a href="{{ recipe.get_absolute_url }}">{{ recipe.title|title }}</a></li>
                        <li>by {{ recipe.author }} on {{ recipe.created }}</li>
                        <li>{% include "recipe/avg_rating_snippet.html" with recipe=recipe %}</li>
                    </ul>
                </div>
            </div>
        </div>
    {% empty %}
        Hm, doesn't look like there's any recipes yet! Please check back soon.
        <br>
    {% endfor %}
    <a class="btn btn-primary" href="{% url 'recipe_new' %}">Submit Recipe</a>
{% endblock page_content %}
