{% extends "recipe/base.html" %}

{% block page_title %}Lunch Club Recipes | {% endblock page_title %}

{% block page_content %}
    <h1>Lunch Club Recipes</h1>
    {% for recipe in recipes %}
        <div class="well">
            <div class="row">
                <div class="span4">
                {% if recipe.image %}
                    <img class="recipe-image" src="{{ recipe.image.url }}">
                {% else %}
                    <img class="recipe-image" src="http://placehold.it/200x150">
                {% endif %}
                </div>
                <div class="span6 offset1">
                    <a href="{{ recipe.get_absolute_url }}">{{ recipe.title }}</a>
                    <ul>
                        <li>by {{ recipe.author }} on {{ recipe.created }}</li>
                        <li>Rating: {{ recipe.rating }}({{ recipe.reviews.count }} reviews)</li>
                    </ul>
                </div>
            </div>
        </div>
    {% empty %}
        Hm, doesn't look like there's any recipes yet! Please check back soon.
    {% endfor %}
    <a class="btn btn-primary" href="{% url 'recipe_new' %}">Submit Recipe</a>
{% endblock page_content %}
