<!doctype html>
{% load staticfiles %}
<html>
    <head>
        <title>{% block page_title %}{% endblock %}Rehdernomics</title>

        <!-- Styles -->
        <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "css/flat-ui.css" %}" rel="stylesheet">
    </head>
    <body>
        {% block top_nav %}{% endblock top_nav %}
        <div class="row-fluid">
            <div class="span2 offset1">
                <!-- Left Nav -->
                {% block left_nav %}{% endblock left_nav %}
            </div>

            <div class="span6">
                {% block page_content %}{% endblock page_content %}
            </div>

            <div class="span2">
                {% block right_nav %}{% endblock right_nav%}
            </div>
        </div>

        <div class="row-fluid">
            Copyright 2013 - Lunch Club LLC.
            Created by <a href="http://kevinlondon.com">Kevin London</a>.
            {% block footer_content %}{% endblock footer_content %}
        </div>
    </body>
</html>
