<!doctype html>
{% load staticfiles %}
<html>
    <head>
        <title>{% block page_title %}{% endblock %}Rehdernomics</title>

        <!-- Styles -->
        <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "css/flat-ui.css" %}" rel="stylesheet">
    </head>
    <body>
       <div class="navbar-wrapper">
            <div class="container">
                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <a class="brand" href="#">Rehdernomics</a>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li><a href="{% url 'recipe_home' %}">Lunch Club Recipes</a></li>
                                <li><a href="{% url 'rehdernomics_home' %}">About Rehdernomics</a></li>
                            </ul>
                        </div>

                        <div style="float: right;">
                            <ul class="nav">
                                <li><a href="#">Login</a></li>
                                <li><a href="#">Search!</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block top_nav %} {% endblock top_nav %}

        <div class="row-fluid">
            <div class="span2 offset1">
                <!-- Left Nav -->
                {% block left_nav %}{% endblock left_nav %}
            </div>

            <div class="span6">
                {% block page_content %}{% endblock page_content %}
            </div>

            <div class="span2">
                {% block right_nav %}{% endblock right_nav%}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span4 offset4">
                Copyright 2013 - Lunch Club LLC.
                Created by <a href="http://kevinlondon.com">Kevin London</a>.
                {% block footer_content %}{% endblock footer_content %}
            </div>
        </div>
    </body>
</html>
